.Booking-page-container{
    width: 100%;
    justify-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vh;
    padding-left: 5vh;
}

.thead-search-filter ::placeholder{
    color: #888888;
}

.thead-search-filter span{
    margin-left: 15px;
}

.thead-search-filter .search-field-input{
    width:30vh;
    height: 4vh;
}