.Edit-Consultant-container{
    justify-content: center;
    padding-top: 10vh;
    padding-left: 20vh;
    padding-right: 30vh;
}

.Edit-Consultant-card{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25vh;
    padding-right: 25vh;
    box-shadow: 0 0.5rem 1rem #888888;
}

.Edit-Consultant-Button{
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #2b7a78;
    cursor: pointer;
}

.Edit-Consultant-Button:hover{
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #3aafa9;
    cursor: pointer;
}