.navbar {
    background-color: #17252A;
    height: 8vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Navbar-Brand-title{
    color: aliceblue;
    display: block;
    margin-left: 1.5vh;
}
  
.menu-bars {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
}

.menu-bars svg{
    margin-bottom: 0.8rem;
    color: white;
}