.View-Consultant-container{
    justify-content: center;
    padding-right: 30vh;
    padding-top: 5vh;
    padding-left: 20vh;
}

.View-Consultant-Button-divison{
    text-align: right;
}
.View-Consultant-Button{
    border: none;
    outline: none;
    width:15%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #2b7a78;
    cursor: pointer;
}

.View-Consultant-Button:hover{
    border: none;
    outline: none;
    width: 15%;
    padding: 15px 0;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #3aafa9;
    cursor: pointer;
    justify-self: right;
}